/* src/styles/animecard.module.css */
.cardContainer {
  perspective: 1000px;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s ease-in-out;
}

.card:hover {
  transform: rotateY(180deg);
}

.cardFront,
.cardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 0.5rem;
}

.cardFront {
  background-size: cover;
  background-position: center;
  border-radius: 0.5rem;
}

.cardBack {
  background-color: #1f2937;
  color: white;
  transform: rotateY(180deg);
  padding: 1rem;
  overflow-y: auto;
}

.cardBack h2 {
  font-size: 1.2rem;
  font-weight: bold;
}

.cardBack p {
  font-size: 0.875rem;
  margin-top: 0.5rem;
  text-align: justify;
}
