/* Button common styling for quiz and poll */
.button {
  background-color: #81d4fa;
  color: white;
  padding: 12px 30px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

/* Hover effect for quiz and poll buttons */
.button:hover {
  background-color: #a7c7e7;
}

.button:focus {
  outline: none;
}
