.quizContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  background-color: #81d4fa;
}

.quizCard {
  width: 100%;
  max-width: 800px;
  background-color: rgb(239, 195, 129);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.quizCard h2 {
  font-size: 24px;
  margin-bottom: 16px;
}

.question label {
  display: block;
  margin: 8px 0;
  cursor: pointer;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 10px;
  flex-wrap: wrap;
}


.nextButton {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  max-width: 150px;
}

.resetButton {
  background-color: rgb(225, 106, 249);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  max-width: 150px;
}

.resetButton:hover,
.nextButton:hover {
  background-color: #388e3c;
}

.recommendations {
  margin-top: 50px;
  padding: 20px;
  background-color: #d17ffb;
  border-radius: 10px;
  max-height: 80vh;
  /* Ensure it doesn't overflow the screen */
  overflow-y: auto;
  /* Enable scrolling if content overflows */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.recommendations ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.recommendations li {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.recommendations img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.recommendations h4 {
  margin-top: 10px;
  font-size: 1.1rem;
  font-weight: bold;
}

.recommendations p {
  font-size: 0.9rem;
  color: #555;
}